GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GOOGLE_SHEETS_WEBHOOK_TOKEN=change-this-token
GOOGLE_SHEETS_SPREADSHEET_ID=your-google-sheet-id
GOOGLE_SHEETS_RAW_TAB=RAW
GOOGLE_SHEETS_FLIGHT_RAW_TAB=FLIGHT_RAW
GOOGLE_SHEETS_FLIGHT_OPS_TAB=FLIGHT_OPS
GOOGLE_SHEETS_FLIGHT_TIMELINE_TAB=FLIGHT_TIMELINE
GOOGLE_SHEETS_MASTER_IATA_TAB=MASTER_IATA
GOOGLE_SHEETS_MAPPING_PILOT_TAB=MAPPING_PILOT
OPS_OPERATION_TIMEZONE=Asia/Jakarta
MASTER_IATA_AUTO_SYNC=1
MASTER_IATA_REFRESH_SECONDS=1800
MASTER_IATA_SOURCE_SPREADSHEET_ID=1nLd3kkkSWJFCUjjR3kph7Wjsv0v_gN8VvXWptGmS5NE
MASTER_IATA_SOURCE_GID=980038686
MAPPING_PILOT_AUTO_SYNC=1
MAPPING_PILOT_REFRESH_SECONDS=3600
MAPPING_PILOT_SOURCE_SPREADSHEET_ID=1fAUbyfFrMw5VPK2hb_Ocg3-xjLjr_x6p
